$color0: #caf81c;
$color1: #fe6d2c;
$color2: #4edc30;
$color3: #fc0ccd;
$val0: "caf81c";
$val1: "fe6d2c";
$val2: "4edc30";
$val3: "fc0ccd";

$color4: #eaffa5;
$color5: #9ae8d3;
$color6: #9d9cff;
$color7: #e89aba;
$color8: #ffdba9;
$val4: "eaffa5";
$val5: "9ae8d3";
$val6: "9d9cff";
$val7: "e89aba";
$val8: "ffdba9";

:host {
  display: block;
  position: relative;
  box-shadow: 2px 2px 2px darken(#00aaff, 10%),
  -5px -4px 0px -3px lighten(#00aaff, 10%);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-image: url("/images/speaker.svg");
  background-repeat: no-repeat;
  background-position: -2px -2px;
  cursor: pointer;

  @media only screen and (min-width : 768px) {
    width: 200px;
    height: 200px;
    background-size: 134%;
  }
}

:host([color="#{$val0}"]) {
  box-shadow: 2px 2px 2px darken($color0, 10%),
  -5px -4px 0px -3px lighten($color0, 10%);
}

:host([color="#{$val1}"]) {
  box-shadow: 2px 2px 2px darken($color1, 10%),
  -5px -4px 0px -3px lighten($color1, 10%);
}

:host([color="#{$val2}"]) {
  box-shadow: 2px 2px 2px darken($color2, 10%),
  -5px -4px 0px -3px lighten($color2, 10%);
}

:host([color="#{$val3}"]) {
  box-shadow: 2px 2px 2px darken($color3, 10%),
  -5px -4px 0px -3px lighten($color3, 10%);
}

:host([color="#{$val4}"]) {
  box-shadow: 2px 2px 2px darken($color4, 10%),
  -5px -4px 0px -3px lighten($color4, 10%);
}

:host([color="#{$val5}"]) {
  box-shadow: 2px 2px 2px darken($color5, 10%),
  -5px -4px 0px -3px lighten($color5, 10%);
}

:host([color="#{$val6}"]) {
  box-shadow: 2px 2px 2px darken($color6, 10%),
  -5px -4px 0px -3px lighten($color6, 10%);
}

:host([color="#{$val7}"]) {
  box-shadow: 2px 2px 2px darken($color7, 10%),
  -5px -4px 0px -3px lighten($color7, 10%);
}

:host([color="#{$val8}"]) {
  box-shadow: 2px 2px 2px darken($color8, 10%),
  -5px -4px 0px -3px lighten($color8, 10%);
}

// :host(:hover) {
//   box-shadow: 0 0 10px 10px #ffffff;
//   transition: box-shadow 150ms ease;
// }
