$color0: #09fff8;
$color1: #410ce8;
$color2: #e89e0c;
$color3: #85ff0d;
$color4: #eaffa5;
$color5: #9ae8d3;
$color6: #9d9cff;
$color7: #e89aba;
$color8: #ffdba9;

$val0: "09fff8";
$val1: "410ce8";
$val2: "e89e0c";
$val3: "85ff0d";
$val4: "eaffa5";
$val5: "9ae8d3";
$val6: "9d9cff";
$val7: "e89aba";
$val8: "ffdba9";

:host {
  display: block;
  position: relative;
  box-shadow: 2px 2px 2px darken(#00aaff, 10%),
  -5px -4px 0px -3px lighten(#00aaff, 10%);
  // top: 5%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-image: url("/images/speaker.svg");
  background-repeat: no-repeat;
  background-size: 98%;
  background-position: center;
}

:host([color="#{$val0}"]) {
  box-shadow: 2px 2px 2px darken($color0, 10%),
  -5px -4px 0px -3px lighten($color0, 10%);
}

:host([color="#{$val1}"]) {
  box-shadow: 2px 2px 2px darken($color1, 10%),
  -5px -4px 0px -3px lighten($color1, 10%);
}

:host([color="#{$val2}"]) {
  box-shadow: 2px 2px 2px darken($color2, 10%),
  -5px -4px 0px -3px lighten($color2, 10%);
}

:host([color="#{$val3}"]) {
  box-shadow: 2px 2px 2px darken($color3, 10%),
  -5px -4px 0px -3px lighten($color3, 10%);
}

:host([color="#{$val4}"]) {
  box-shadow: 2px 2px 2px darken($color4, 10%),
  -5px -4px 0px -3px lighten($color4, 10%);
}

:host([color="#{$val5}"]) {
  box-shadow: 2px 2px 2px darken($color5, 10%),
  -5px -4px 0px -3px lighten($color5, 10%);
}

:host([color="#{$val6}"]) {
  box-shadow: 2px 2px 2px darken($color6, 10%),
  -5px -4px 0px -3px lighten($color6, 10%);
}

:host([color="#{$val7}"]) {
  box-shadow: 2px 2px 2px darken($color7, 10%),
  -5px -4px 0px -3px lighten($color7, 10%);
}

:host([color="#{$val8}"]) {
  box-shadow: 2px 2px 2px darken($color8, 10%),
  -5px -4px 0px -3px lighten($color8, 10%);
}
