$color0: #caf81c;
$color1: #fe6d2c;
$color2: #4edc30;
$color3: #fc0ccd;
$val0: "caf81c";
$val1: "fe6d2c";
$val2: "4edc30";
$val3: "fc0ccd";

$color4: #eaffa5;
$color5: #9ae8d3;
$color6: #9d9cff;
$color7: #e89aba;
$color8: #ffdba9;
$val4: "eaffa5";
$val5: "9ae8d3";
$val6: "9d9cff";
$val7: "e89aba";
$val8: "ffdba9";

:host {
  display: inline-block;
  position: relative;
  margin: 17px;

  @media only screen and (min-width : 768px) {
    margin: 10px;
  }
}

:host([showMenu]) {
  .machine-back {
    border-radius: 5px 0 0 5px;
    box-shadow: none;
    z-index: 11;
    transition: box-shadow 300ms ease,
      border-radius 400ms ease,
      margin-right 500ms ease-out;
  }
}

.machine-back {
  display: block;
  position: relative;
  background-color: #00aaff;
  border-radius: 5px;
  width: 330px;
  height: 600px;
  left: -1px;
  z-index: 2;
  margin-right: 0;
  box-shadow: 0 5px 10px 2px rgba(0,0,0,0.5);
  transition: box-shadow 300ms ease,
    border-radius 400ms ease,
    margin-right 500ms ease-in;
  cursor: pointer;

  @media only screen and (min-width : 768px) {
    width: 225px;
    height: 400px;
  }

}

:host([color="#{$val0}"]) {
  .machine-back {
    background-color: $color0;
  }
}

:host([color="#{$val1}"]) {
  .machine-back {
    background-color: $color1;
  }
}

:host([color="#{$val2}"]) {
  .machine-back {
    background-color: $color2;
  }
}
:host([color="#{$val3}"]) {
  .machine-back {
    background-color: $color3;
  }
}
:host([color="#{$val4}"]) {
  .machine-back {
    background-color: $color4;
  }
}
:host([color="#{$val5}"]) {
  .machine-back {
    background-color: $color5;
  }
}
:host([color="#{$val6}"]) {
  .machine-back {
    background-color: $color6;
  }
}
:host([color="#{$val7}"]) {
  .machine-back {
    background-color: $color7;
  }
}
:host([color="#{$val8}"]) {
  .machine-back {
    background-color: $color8;
  }
}

:host([playing]) {
  .playing-indicator {
    .on {
      display: inline-block;
      opacity: 0.5;
    }

    .off {
      display: none;
    }
  }
}

.playing-indicator {
  padding: 10px;

  .on {
    display: none;
  }

  .off {
    display: inline-block;
    opacity: 0.3;
  }
}
