$color0: #09fff8;
$color1: #410ce8;
$color2: #e89e0c;
$color3: #85ff0d;
$color4: #eaffa5;
$color5: #9ae8d3;
$color6: #9d9cff;
$color7: #e89aba;
$color8: #ffdba9;

$val0: "09fff8";
$val1: "410ce8";
$val2: "e89e0c";
$val3: "85ff0d";
$val4: "eaffa5";
$val5: "9ae8d3";
$val6: "9d9cff";
$val7: "e89aba";
$val8: "ffdba9";

:host {
  display: inline-block;
  position: relative;
  margin: 20px;
}

:host([showMenu]) {
  .machine-back {
    border-radius: 5px 0 0 5px;
    box-shadow: none;
    z-index: 11;
    margin-right: 320px;
    transition: box-shadow 300ms ease,
      border-radius 400ms ease,
      margin-right 500ms ease-out;
  }
}

.machine-back {
  display: block;
  position: relative;
  background-color: #00aaff;
  border-radius: 5px;
  width: 225px;
  left: -1px;
  height: 400px;
  z-index: 2;
  margin-right: 0;
  box-shadow: 0 5px 10px 2px rgba(0,0,0,0.5);
  transition: box-shadow 300ms ease,
    border-radius 400ms ease,
    margin-right 500ms ease-in;
}

:host([color="#{$val0}"]) {
  .machine-back {
    background-color: $color0;
  }
}

:host([color="#{$val1}"]) {
  .machine-back {
    background-color: $color1;
  }
}

:host([color="#{$val2}"]) {
  .machine-back {
    background-color: $color2;
  }
}
:host([color="#{$val3}"]) {
  .machine-back {
    background-color: $color3;
  }
}
:host([color="#{$val4}"]) {
  .machine-back {
    background-color: $color4;
  }
}
:host([color="#{$val5}"]) {
  .machine-back {
    background-color: $color5;
  }
}
:host([color="#{$val6}"]) {
  .machine-back {
    background-color: $color6;
  }
}
:host([color="#{$val7}"]) {
  .machine-back {
    background-color: $color7;
  }
}
:host([color="#{$val8}"]) {
  .machine-back {
    background-color: $color8;
  }
}

:host([playing]) {
  .playing-indicator {
    .on {
      display: inline-block;
    }

    .off {
      display: none;
    }
  }
}

.playing-indicator {
  padding: 10px;

  .on {
    display: none;
  }

  .off {
    display: inline-block;
    opacity: 0.3;
  }
}
