html, body {
  height: 100%;
  margin: 0;
  min-width: 620px;
}

body {
  background: #fafafa;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background: linear-gradient(135deg,
    rgba(191,210,85,1) 0%,
    rgba(142,185,42,1) 50%,
    rgba(114,170,0,1)  51%,
    rgba(158,203,45,1) 100%);
  background-size: 600% 600%;

  -webkit-animation: background-gradient 1s ease infinite;
  -moz-animation: background-gradient 1s ease infinite;
  animation: background-gradient 1s ease infinite;

  @-webkit-keyframes background-gradient {
      0% { background-position: 18% 0% }
      50% { background-position: 83% 100% }
      100% { background-position: 18% 0% }
  }
  @-moz-keyframes background-gradient {
      0% { background-position: 18% 0% }
      50% { background-position: 83% 100% }
      100% { background-position: 18% 0% }
  }
  @keyframes background-gradient {
      0% { background-position: 18% 0% }
      50% { background-position: 83% 100% }
      100% { background-position: 18% 0% }
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
